<div id= 'flash'>
<%if flash[:wronguser] %>
  <%= flash[:wronguser] %>
<% end %>
</div>
<h1> <%= @affirmation.content %></h1>
<h2> This affirmation was written by <a href='/users/profile/<%= @user.slug%>'><%= @user.username %></a> </h2>

<form style="display: inline-block;"method="GET" action="/affirmations/<%=@affirmation.id%>/edit">
<input type="submit" value="Edit Affirmation">
</form>

<form style="display: inline-block;"action="/affirmations/<%=@affirmation.id%>/delete" method="POST">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" id="delete" value="Delete Affirmation">
</form>
<br>
<br>

<footer>
<a href='/home'> Home </a> or <a href='/logout'>Log Out</a>
</footer>
