
<h1> <%= @affirmation.content %></h1>
<h2> This affirmation was written by <a href='/users/profile/<%= @user.slug%>'><%= @user.username %></a> </h2>

<div id='ButtonContainer'>
<form style="display: inline-block;"method="GET" action="/affirmations/<%=@affirmation.id%>/edit">
<input type="submit" value="Edit Affirmation" onclick="document.getElementById('myModalE').style.display='block'"
class="close">
</form>

<form style="display: inline-block;"action="/affirmations/<%=@affirmation.id%>/delete" method="POST">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Affirmation" onclick="document.getElementById('myModalD').style.display='block'"
class="close">
</form>
</div>

<br>
<br>

<!-- Modals -->
<div id="myModalE" class="modal">
  <div class="modal-content">
      <span onclick="document.getElementById('myModalE').style.display='none'"
      class="close">&times;</span>
      <div id= 'flash'>
      <p>
          <%if flash[:edit] %>
            <%= flash[:edit] %>
          <% end %>
      </p>
      </div>
  </div>
</div>

<div id="myModalD" class="modal">
  <div class="modal-content">
      <span onclick="document.getElementById('myModalD').style.display='none'"
      class="close">&times;</span>
      <div id= 'flash'>
      <p>
          <%if flash[:delete] %>
            <%= flash[:delete] %>
          <% end %>
      </p>
      </div>
  </div>
</div>



<!-- End of Modals -->

<footer>
<a href='/home'> Home </a> or <a href='/logout'>Log Out</a>
</footer>
